<!-- Start Header.. -->
<div class="container m-t-2">
<div class="page-header" style="padding-bottom: 9px; margin: 20px 0 20px; border-bottom: 1px solid #eee;">

  <div class="d-none d-sm-block">
    <div class="row align-items-center">
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 pr-0">
          <img class="img-fluid align-self-start" src="{{ site.baseurl }}{{ site.logo }}" alt="BMVA Logo">
      </div>
      <div class="col-xs-6 col-sm-8 col-md-9 col-lg-10">
          <h1 style="text-align: right;"><span class="ndfc-brand">The <b>British Machine<br class="hidden-lg-up d-lg-none"> Vision Association</b></span><br><small style="color: #555555;">and <b>Society for Pattern Recognition</b></small></h1>
          <!--<b>Royal Society<br class="hidden-md-up d-md-none"> Industry Fellow</b><br class="hidden-xl-up d-xl-none"> and <b>Society for Pattern Recognition</b><br class="hidden-lg-up d-lg-none"> in <b>Visual Computing</b><br class="hidden-xl-up d-xl-none"> and <b>Machine Learning</b>-->
      </div>
    </div>
  </div>
  <!--<div class="row d-sm-none">
      <div class="col-xs-12 mx-auto">
            <img class="img-fluid d-block mx-auto mb-3" width="50%" src="{{ site.baseurl }}{{ site.mugshot }}" alt="Photo of Neill">
      </div>
  </div>-->
  <div class="row d-sm-none">
      <div class="col-xs-12 mx-auto">
        <h1 style="text-align: center;"><span class="ndfc-brand">The <b>British Machine Vision Association</b></span><br><small style="color: #555555;">and <b>Society for Pattern Recognition</b></small></h1>
         <!-- <h2 style="text-align: center;"><span class="ndfc-brand">Dr <b>Neill Campbell</b></span><br><small style="color: #555555;"><b>Royal Society<br class="hidden-md-up"> Industry Fellow</b><br class="hidden-xl-up"> and <b>Senior Lecturer</b><br class="hidden-lg-up"> in <b>Visual Computing</b><br class="hidden-xl-up"> and <b>Machine Learning</b></small></h2>-->
      </div>
  </div>

</div>
</div>
<!-- End Header.. -->