<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description" content="{{ site.description }}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">

<!-- FontAwesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ndfc.css">

{% if page.custom_css %}
<style>{{ page.custom_css }}</style>
{% endif %}


<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/assets/favicon/site.webmanifest">
<link rel="mask-icon" href="{{ site.baseurl }}/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!--
<script src="{{ site.baseurl }}/assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.date-filter.min.js"></script>
<script>
$(document).ready(function(){
  console.log("Hello");
  console.log($(".date-filter"));
  $(".date-filter").dateFilter();
});
</script>
-->
