<!-- Start Header.. -->
<div class="container m-t-2">
<div class="page-header" style="padding-bottom: 9px; margin: 20px 0 20px; border-bottom: 1px solid #eee;">
  
  <!--<div class="row align-items-center">
      <div class="col-xs-12 mx-auto">
        <h2 style="text-align: center;"><span class="ndfc-brand">The <b>British Machine Vision Association</b></span><br><small style="color: #555555;">and <b>Society for Pattern Recognition</b></small></h2>
      </div>
  </div>-->
  <div class="row align-items-center">
  	<div class="col-xs-12 mx-auto">
  		<h1 style="text-align: center;">{{ page.title }}</h1>
  	</div>
  </div>

</div>
</div>
<!-- End Header.. -->