<h3 id="important-changes-for-bmvc-2021">Important changes for BMVC 2021</h3>

<ol>
  <li>There will be a two-stage review system, with an upgraded journal-style rebuttal and revision phase in-between.
    <ul>
      <li><strong>Stage One:</strong> Each paper will be reviewed by at least three reviewers. The primary AC will also provide a meta review, summarizing the points that need to be addressed during the revision phase. All these comments are released to the authors at the start of the revision period.</li>
      <li><strong>Rebuttal+Revision Phase:</strong> The authors will have an extended 2-weeks period to produce a rebuttal (maximum 4000 characters), <em>and</em> a revised paper (with one additional page) that implements all the required changes to the paper, including new experimental results, where appropriate, asked for in the review comments.</li>
      <li><strong>Stage Two:</strong> The same reviewers will conduct a second-round review, based on the rebuttal and the revised paper, and provide a final recommendation to the ACs after discussing the paper amongst themselves.</li>
      <li><strong>AC Recommendation:</strong> Each paper will be handled by two ACs, a primary and a secondary, who will facilitate paper discussion and jointly make the final recommendations.</li>
    </ul>
  </li>
  <li>The “Brave new ideas” subject area has been introduced and should be selected as one of the two primary subject areas. Papers submitted under this subject area are expected to move away from incremental benchmark gains. Proposed ideas should be radically different from the current strand of research or propose a novel problem.</li>
</ol>
